@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

:root{
    --color-1: rgb(68, 63, 63);
    --color-2: rgb(70, 143, 253);
    --color-3: rgb(41, 35, 35);
    --color-4: rgb(253, 250, 253);
}

body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    background:url(../source/fondo.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    background-color: var(--color-3);
    justify-content: space-between;
    border-bottom: 10px solid var(--color-2);

}
.titulo_first{
    color: white;
    margin-left: 40px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
}
.menu p{
    margin: 15px;
    color:white;
    font-weight: bolder;
    text-decoration: none;
}
.menu p:hover{
    color:var(--color-2);
}

/*Inicio contenido principal*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    color: white;
}
main p{
    width: 50%;
    font-size: 500;
}
main h1{
    font-size: 5rem;
}

.boletin{
    background-color: var(--color-3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.boletin h1{
    color: white;
    margin-left: 20px;
}

.panel_info{
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: space-around;
    padding: 60px;
}
.panel_info div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Main page Nosotros*/
.panel_info_nosotros{
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px;
    padding-left: 200px;
    padding-top:40px;
}
.left_column{
    width: 60%;
}
.left_column h1{
    font-size: 3rem;
}
.first_p{
    color: black;
    font-size: 1.7rem;
    padding: 5px;
}
.second_p{
    color:white;
    background: var(--color-3);
    padding: 35px;
    font-size: 1.5rem;
}
.right_column{
    width: 30%;
    height: 600px;
    margin-top: 3.6rem;
    color:white;
    background: var(--color-3);
    padding: 35px;
    font-size: 1.2rem;
    border-radius: 15px;
} 

/*End main page Nosotros*/

/*Inicio servicios*/
.targets{
    background: gainsboro;
    padding: 30px;
    margin:10px;
    border-radius: 10px;
}
/*Fin servicios*/
/*Inicio Contacto*/
.right_columnContacto{
    width: 30%;
    height: auto;
    margin-top: 3.6rem;
    
} 
.info{
    color:white;
    background: var(--color-3);
    padding: 35px;
    font-size: 1.2rem;
    border-radius: 15px;
    margin-bottom: 40px;
}
.right_columnContacto iframe{
    width: 100%;
    border-radius: 15px;
}
/*Fin Contacto*/
.buscador_boletin{
    display: flex;
    align-items: center;
}
.buscador{
    color: black;
    height: 2rem;
    width: 400px;
}
.button{
    width: 30%;
    height: 2.4rem;
    background-color: rgb(232,73,29);
    border-color: rgb(232,73,29);
    content: 'Suscribete';
    color:white;
    margin-left: 10px;
}
footer{
    background-color: var(--color-2);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}